// Grid System
// -----------

// Container widths
//
// Set the container width, and override it for fixed navbars in media queries.
// Use the .content to wrap the grid rows.
//	<div class="content">
//		<div class="row">
//			<div class="col-s-6">50% column</div>
//			<div class="col-s-6">50% column</div>
//		</div>
//		<div class="row">
//			<div class="col-s-6">50% column</div>
//			<div class="col-s-6">50% column</div>
//		</div>
//	</div>
.content {
	@include container-fixed;

	// Medium devices
	// The key for the 320px wide in the variables file is "xs"
	// @include media(xs) {
	//		//width: $container-s + $grid-gutter-width;
	//		// width: 93.95%;
	//		padding-left: 22px;
	//		padding-right: 22px;
	// }

	// Medium devices
	// The key for the 768px wide in the variables file is "L"
	@include media(l) {
		//width: $container-m + $grid-gutter-width;
		// width: 93.95%;
		padding-left: 40px;
		padding-right: 40px;
	}

	// Large devices
	// The key for the 1200px wide in the variables file is "XXL"
	@include media(xxl) {
		//width: $container-l + $grid-gutter-width;
		padding-left: 60px;
		padding-right: 60px;
		// width: 84.7826087%;
	}

	// Large devices
	// The key for the 1600px wide in the variables file is "XXXL"
	@include media(xxxl) {
		//width: $container-xl + $grid-gutter-width;
		// width: 81.8181818%;
	}
}


// Row
//
// Rows contain and clear the floats of your columns.
// The columns must be put imediately inside rows
//	<div class="row">
//		<div class="col-s-6">50% column</div>
//		<div class="col-s-6">50% column</div>
//	</div>
.row,
.grid-row {
	@include make-row;

	.row
	.grid-row {
		margin-left: 0;
		margin-right: 0;
	}
}


// Columns
//
// Common styles for small and large grid columns.
@include make-grid-columns;


// Small
//
// Columns, offsets, pushes, and pulls for small devices.
@include make-grid(s);


// Medium
//
// Columns, offsets, pushes, and pulls for the medium device range.
@include media(m) {
	@include make-grid(m);
}

// Large
//
@include media(xl) {
	@include make-grid(l);
}

// eXtra Large
//
// Columns, offsets, pushes, and pulls for the large device range.
// @include media(xxl) {
// 	@include make-grid(l);
// }


// Extra Large
//
// Columns, offsets, pushes, and pulls for the extra large device range.
// @include media(xxxl) {
// 	@include make-grid(xl);
// }

// Presentation class to show the grid
.grid-presentation {
	[class*="col"] > span {
		font-size: 0.750em;
		display: block;
		background-color: #eee;
		text-align: center;
		min-height: 40px;
		line-height: 40px;
		border: 1px solid #ccc;
		margin-bottom: 20px;
	}
}
