//
// Outputs code for responsive (i.e. flexible) videos - assuming you know the width and height of the base video
// @param {number} $video-width (16) - width of the video
// @param {number} $video-height (9) - height of the video
// @example scss
//  @include fluid-video(4,3);
//
@mixin fluid-video(
		$video-width:16,
		$video-height:9
	){
	position: relative;
	padding-bottom: percentage($video-height/$video-width);
	height: 0;
	& object,
	& embed,
	& iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}
