// For adding font icons to elements using CSS pseudo-elements
// http://jaydenseric.com/blog/fun-with-sass-and-font-icons
@mixin icon($position: before, $icon: false, $styles: true) {
	@if $position == both {
		$position: 'before, &:after';
	}
	// Either a :before or :after pseudo-element, or both, defaulting to :before
	&:#{$position} {
		@if $icon {
			// A particular icon has been specified
			content: "#{map-get($iconsMap, $icon)}";
		}
		@if $styles {
			// Supportive icon styles required
			speak: none;
			display: inline-block;
			font: normal normal normal 14px/1 bupaIcons;
			font-size: 3em;
			text-rendering: auto;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
		}
		// Include any extra rules supplied for the pseudo-element
		@content;
	}
}